<a href="{{ path('post', {'postId': post.id}) }}">
    <div class="postModel hoverable">
        <div>
            <p>{{post.title}}</p>
            <p> {{post.user.username}} </p>
        </div>

        <div class="stats">
            <div>
                <img src="{{ asset('/svg/eye-svgrepo-com.svg')}}" >
                <p> {{post.view}} </p> {#mettre le conteur de vue #}
            </div>
            <div>
                <img src="{{ asset('/svg/bubbles-svgrepo-com.svg')}}" >
                <p> {{ post.comments|length }} </p>
            </div>
            <p> {{post.publishedAt.format('d M Y')}} </p>
        </div>
            
    </div>
</a>